body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}
header {
  background: #7e1921;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}
footer {
  background: #000009;
  color: #e3e3e3;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
.content {
  padding: 20px;
  text-align: center;
}
aside {
  background-color: #7e1921;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-style: italic;
}
#requisitos_minimos {
  background-color: #cac6c7;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#requisitos_recomendados {
    background-color: #cac6c7;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#plataformas {
    background-color: #d8d7d7;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}
h2 {
  color: #7e1921;
}
#descripcion {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
