body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}
.contenedor-header {
  background: #7e1921;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;

  header {
    width: 100%;

    .titulo-pagina {
      font-family: "Amatic SC", sans-serif;
      font-style: normal;
    }
  }
}
footer {
  background: #000009;
  color: #e3e3e3;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
.contenedor-section {
  width: 100%;

  .contenido {
    padding: 10px;
    text-align: center;
  }
}
.contenedor-article {
  width: 100%;

  article {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
  }
}
.contenedor-aside {
  width: 100%;

  aside {
    padding: 10px;
    margin-top: 10px;
  }
}
.enlace {
  text-decoration: none;
  color: #ffffff;
}
.enlace-menu {
  display: block;
  color: #ffffff;
}
h2 {
  color: #7e1921;
}
.lista-sin-puntos {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 0;
}
.elemento-lista-horizontal {
  float: left;
  margin-right: 10px;
}
.texto-negrita {
  font-weight: bold;
}
.menu {
  background-color: #7e1921;
  border-bottom: 1px solid #ffffff;
  width: 70%;
  height: 100px;
  margin: auto;

  a {
    border-radius: 5px;
    background-color: #7e1921;
    padding: 10px;
    margin: 10px;
    border: 1px solid #fdaa0c;
    transition-duration: .5s;

    &:hover {
      background-color: #fdaa0c;
    }
  }
}
.menu-centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
div li {
  font-size: 13px;
  color: #3b3737;
}
