body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e3e3e3;
}
.contenedor_header {
  background: #7e1921;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;

  header {
    width: 100%;
  }
}
footer {
  background: #000009;
  color: #e3e3e3;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
.contenedor_section {
  width: 100%;

  .content {
    padding: 20px;
    text-align: center;
  }
}
.contenedor_article {
  width: 100%;

  article {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
  }
}
.contenedor_aside {
  width: 100%;

  aside {
    background-color: #7e1921;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  
    &:hover {
      background-color: #ee0000;
    }
  }
}
.titulo_pagina {
  font-size: 200%;
}
.enlace {
  text-decoration: none;
  color: #ffffff;
}
.enlace_italico {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-style: italic;
}
.enlace_menu {
  display: block;
  color: #ffffff;
}
#requisitos {
  background-color: #cac6c7;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
#plataformas {
  background-color: #d8d7d7;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
h2 {
  color: #7e1921;
}
#descripcion {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;

  .componentes {
    font-size: 14px;
    text-align: left;
  }

  .requisitos_texto {
    font-size: 12px;
  }

  .requisitos_division {
    border-right: 1px solid #7e1921;
  }
}
.lista_sin_puntos {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.elemento_lista {
  margin-bottom: 10px;
}
.elemento_lista_horizontal {
  float: left;
  margin-right: 10px;
}
.texto_negrita {
  font-weight: bold;
}
.menu {
  background-color: #7e1921;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  height: 70px;

  a {
    border-radius: 5px;
    background-color: #7e1921;
    padding: 10px;

    &:hover {
      background-color: #fdaa0c;
    }
  }
}
.menu_centrado {
  display: flex;
  justify-content: center;
}
div li {
  font-size: 13px;
  color: #3b3737;
}
